# @nju33:regisory=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=$GH_AUTHTOKEN

@bit:registry=https://node.bit.cloud
@aryli:registry=https://node.bit.cloud
//node.bitsrc.io/:_authToken=$BIT_TOKEN
//node.bit.cloud/:_authToken=$BIT_TOKEN

always-auth=true
